
<div class="container container-actus">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-12">
      <h2>Actualités</h2>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="../../../assets/images/actu/actu1.jpg"
          class="card-img-top"
          (click)="goDescActu(1)"
        />
        <div class="card-body">
          <h5 class="card-title">Spider-Man&nbsp;- No Way Home&nbsp;:<br />rencontre avec Tom Holland et Zendaya</h5>
          <p class="card-text">Troisième opus de la nouvelle trilogie Spider-Man, No Way Home explose les compteurs et continue sa brillante carrière au cinéma !

            Pour sa sortie, nous rencontrions Tom Holland et Zendaya afin de parler du nouveau film évènement de la saga...</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Actualité — Publié le 07 janvier 2022 à 12:43</small>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img
          src="../../../assets/images/actu/actu2.jpg"
          class="card-img-top"
          (click)="goDescActu(2)"
        />
        <div class="card-body">
          <h5 class="card-title">Nos mesures sanitaires</h5>
          <p class="card-text">En raison de la pendémie de Covid-19, le port du masque obligatoire à l'intérieur de nos établissements sera maintennu jusqu'à
            nouvel ordre. Du gel hydroalcoolique sera toujours à disposition de tous. 
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Actualité — Publié le 02 janvier 2022 à 12:00</small>
        </div>
      </div>
    </div>

    
    <div class="col">
      <div class="card h-100">
        <img
          src="../../../assets/images/uncharted.jpg" alt="Uncharted"
          class="card-img-top"
          (click)="goDescActu(2)"
        />
        <div class="card-body">
          <h5 class="card-title">Le film Uncharted décalé</h5>
          <p class="card-text">Au départ prévu pour sortir en juillet 2021, Uncharted a été décalé à février 2022 en raison de la crise sanitaire du coronavirus.</p>
          <p>Tom Holland, Mark Wahlberg et Antonio Banderas nous feront donc vivre leur aventure un peu plus tard que prévu. Mais ceci n'enlèvera rien à notre plaisir 
            de voir le film&nbsp;!
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Actualité — Publié le 02 janvier 2022 à 12:00</small>
        </div>
      </div>
    </div>
  </div>
</div>