<div class="moncompte">

    <!-- Button trigger modal -->
    <button id="open-modal" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="auth()">
        {{message}}
        <img src="../../assets/images/profil.png" alt="profil">
    </button>

    <!-- Modal
    <div [ngClass]="classButton" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mon compte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><span class="txt-gris">Vous avez déjà un compte&nbsp;?</span> Identifiez-vous.<br />
                        <span class="txt-gris">Sinon vous pouvez vous inscrire</span>, en créant votre compte</p>
                    <div id="openAuth"><app-authentification (connectEmit)="isConnect = $event"></app-authentification></div>
                </div>
                <div class="modal-footer">
                    <button id="btn-close-modal" type="button" class="btn-close-modal btn" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>-->
</div>
