<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-12 votre-commande">
      <h2>Votre commande</h2>
    </div>
  </div>
</div>

<div class="container container-commande">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-12">
      <h2>Choisir une (ou des) boisson(s)</h2>
      <hr />
      <div *ngFor="let item of listeBoisson" class="listeingredients">
        <app-extra-qunatity
          [nom]="item.nom"
          [prix]="item.prix"
          [type]="item.type"
        ></app-extra-qunatity>
      </div>
      
      <div *ngFor="let item of listeNourriture" class="listeingredients">
        <h2>Choisir un accompagnement(s)</h2>
        <hr />
        <app-extra-qunatity class="app-extra-qunatity"
          [nom]="item.nom"
          [prix]="item.prix"
          [type]="item.type"
        >
        </app-extra-qunatity>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-12 container-recapitulatif">
      <div class="recapitulatif">
        <h2>Votre commande</h2>
        <hr />
        <app-recap class="col" [listeExtra]="listeExtras" [prixPlace]="prixPlaceTotal"></app-recap>
          <!-- {{prixCommandeTotal}} -->
        <input type="button" class="btn-validation" value="Valider la commande" (click)="validation()">
      </div>
    </div>
  </div>
</div>
