
<div class="container container-theatre">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12">
        <h2>Nos pièces de théâtre</h2>
      </div>
    </div>
  
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img
            src="../../../assets/images/docteur-alil.jpg" alt="Docteur Alil & Mister Vardar"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Docteur Alil & Mister Vardar</h5>
            <p class="card-text">Docteur Alil & Mister Vardar est un hommage au génialissime Jerry Lewis et une comédie hilarante qui traîte de la vie dans une 
                entreprise.
                <br />
                Claude a un physique "particulier", il est le souffre douleur de son chef de service Mr Guidon. Tous les deux sont sous le charme de Rosanna, 
                la jolie secrétaire qui cache bien son petit jeu. Tout ce beau monde travaille dans une usine dirigée de main de maître par Madame DeBrouckere.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Actualité — Publié le 07 janvier 2022 à 12:43</small>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card h-100">
          <img
            src="../../../assets/images/jamais-deuxieme.jpg" alt="Jamais le deuxième soir"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Jamais le deuxième soir</h5>
            <p class="card-text">Quand les femmes font comme les hommes&nbsp;!<br />

                Et si les femmes étaient le sexe fort&nbsp;?<br />
                Et si les rôles étaient inverses&nbsp;?<br />
                Et si elles ne croyaient plus au grand amour&nbsp;?<br />
                Et si l'homme idéal venait frapper à leur porte&nbsp;?<br />
                Et si elles voulaient consommer le premier soir&nbsp;?<br />
                Et si l'homme était plus romantique que la femme&nbsp;?<br />
                Quand la belle ne croit plus au prince charmant&nbsp;!</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Actualité — Publié le 02 janvier 2022 à 12:00</small>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img
            src="../../../assets/images/marie-m.jpg" alt="Marie-Madeleine"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Marie-Madeleine</h5>
            <p class="card-text">La nuit de ses noces avec Jean, Marie-Madeleine se voit préférer Jésus par son jeune époux.
                <br />
                Malade d'un amour inassouvi, elle cherche dans les bras des hommes une réponse au feu intérieur qui la consume.
                Jusqu'à trouver en la personne de Jésus la résolution de sa quête amoureuse. Extrait du recueil de nouvelles Feux, Marie-Madeleine ou le salut est 
                un sublime hymne païen à l'amour absolu.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Actualité — Publié le 02 janvier 2022 à 12:00</small>
          </div>
        </div>
      </div>
    </div>
  </div>
