<div class="container nos-technologies">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12">
        <h2>Nos technologies</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-12 container-techno">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12 div-img-techno">
                    <img src="/assets/images/imax.jpg" alt="Imax">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12 desc-techno">
                    <h3>Imax</h3>
                    <p>Installez-vous dans l’une de nos salles IMAX et préparez-vous à vivre une expérience inoubliable&nbsp;! 
                        La technologie IMAX assure une qualité visuelle et sonore exceptionnelle.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12 container-techno">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12 div-img-techno">
                    <img src="/assets/images/4dx.jpg" alt="4DX">
                </div>
                <div class="col-md-12 col-sm-12 col-12 desc-techno">
                    <h3>4DX</h3>
                    <p>La technologie 4DX permet de vivre une expérience à couper le souffle. Plongés au cœur du film, tous vos sens sont stimulés au travers d'une 
                        expérience cinématographique immersive unique et inédite.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12 container-techno">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12 div-img-techno">
                    <img src="/assets/images/dolby.jpg" alt="Dolby Cinema">
                </div>
                <div class="col-md-12 col-sm-12 col-12 desc-techno">
                    <h3>Dolby Cinema</h3>
                    <p>L’expérience DOLBY CINEMA associe les technologies d’image et de son les plus spectaculaires avec un design recherché et un confort absolu 
                        pour faire de votre séance un évènement cinéma inoubliable.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12 container-techno">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12 div-img-techno">
                    <img src="/assets/images/screen-x.jpg" alt="Screen X">
                </div>
                <div class="col-md-12 col-sm-12 col-12 desc-techno">
                    <h3>Screen X</h3>
                    <p>La technologie ScreenX propose une projection panoramique à 270°, des images qui s'étendent à droite et à gauche de l'écran pour encore 
                        plus d'immersion... une expérience cinématographique monumentale&nbsp;!</p>
                </div>
            </div>
        </div>
    </div>
</div>
