<div class="container">
  <h5>Actualité — Publié le 07 janvier 2022 à 12:43</h5>
  <h1>Spider-Man : No Way Home : rencontre avec Tom Holland et Zendaya</h1>
  <p>Le film qui explose tous les records est toujours à l'affiche !</p>
  <img src="../../../assets/images/actu/actu1.jpg" alt="" />
  <p>Troisième opus de la nouvelle trilogie Spider-Man, No Way Home explose les compteurs et continue sa brillante carrière au cinéma !

    Pour sa sortie, nous rencontrions Tom Holland et Zendaya afin de parler du nouveau film évènement de la saga...</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nXb4bbALsdg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
