<section id="footer">
    <div class="container container-footer">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12 div-footer">
                <img class="logo" src="../../assets/images/logo-alten-cinema-blanc.png" alt="Alten Cinemas">
                <ul>
                    <li><a href="">À propos</a></li>
                    <li><a href="">Mentions légales</a></li>
                    <li><a href="">Cinémas</a></li>
                    <li><a>Nous suivre</a></li>
                </ul>
            </div>
            <div class="col-md-12 col-sm-12 col-12 div-footer-2">
                <p>Alten Cinémas&nbsp;©&nbsp;2022 — Tous droits réservés&nbsp;®</p>
            </div>
        </div>
    </div>
</section>