<div class="container">
  <h5>Actualité — Publié le 02 janvier 2022 à 12:00</h5>
  <h1>Nos mesures sanitaires</h1>
  <p>Mise à jour au 2 janvier 2022</p>
  <img src="../../../assets/images/actu/actu2.jpg" alt="" />
  <h2>Port du masque</h2>
  <p>
    Le port du masque est obligatoire dans tous les cinémas et pendant toute la
    séance à partir de 6 ans dès le 3 janvier.
  </p>

  <h2>Consommation de produits alimentaires & boissons</h2>
  <p>
    La consommation de produits alimentaires et de boissons est interdite dans
    les cinémas à compter du 3 janvier.
  </p>

  <h2>Pass sanitaire</h2>
  <p>
    L’accès aux cinémas est soumis à la présentation d’un pass sanitaire valide
    à partir de 12 ans et 2 mois.
  </p>

  <p>Il est donc impératif de vous présenter dans votre cinéma muni :</p>

  <p>
    De votre pass sanitaire visible dans le « carnet » de l’application
    TousAntiCovid ou présent sur les preuves officielles au format papier ou
    PDF. Un spectateur dépourvu de pass sanitaire valide se verra refuser
    l’entrée.
  </p>

  <p>
    Afin de faciliter l’accès aux cinémas dans ce contexte, nous vous
    encourageons à réserver vos séances en ligne sur le site Internet ou
    l’application mobile des cinémas Pathé Gaumont.
  </p>
  <p>
    La santé et la sécurité de nos spectateurs et de nos équipes sont au cœur de
    nos priorités, le port du masque reste obligatoire dans tout le cinéma et
    pendant toute la séance.
  </p>
  <p>Comment obtenir un pass sanitaire ?</p>
  <p>
    1. Grâce à la vaccination, à la condition que les personnes disposent d'un
    schéma vaccinal complet.
  </p>

  <p>
    2. Avec la preuve d'un test négatif RT-PCR et antigéniques de moins de 24h.
  </p>

  <p>
    3. Avec le résultat d'un test RT-PCR ou antigénique positif attestant du
    rétablissement de la Covid-19, datant d'au moins 11 jours et de moins de 6
    mois.
  </p>
</div>
